body {
    background-color: #FFFFFF;
    color: #2B353E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
#forIE6 {
    display: none;
}
a:link, a:visited {
    color: #AB3333;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #AB3333;
    color: #FFFFFF;
    text-decoration: none;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
img {
    border: medium none;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
pre {
    display: inline;
    font-family: "Courier New",Courier,monospace;
}
.righty {
    float: right;
    margin: 0 0 0 6px;
    padding: 0;
}
.lefty {
    float: left;
    margin: 0 6px 0 0;
    padding: 0;
}
blockquote {
    border-bottom: 1px solid #E0DED2;
    border-top: 1px solid #E0DED2;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 11px;
    font-style: italic;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
div.hr {
    background-image: url("../image/three-star-line.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 13px;
    margin: 8px 0;
}
div.hr hr {
    display: none;
}
.dinky {
    color: #454545;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 0.1em;
}
.codi {
    background-color: #F2F1E6;
    color: #777463;
    font-family: "Courier New",Courier,monospace;
    font-size: 12px;
    font-weight: bold;
}
.codeExample {
    background-color: #F2F1E6;
    background-image: url("../image/code-box-border-b.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-top: 1px solid #E0DED2;
    color: #777463;
    font-family: "Courier New",Courier,monospace;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px 5px 15px;
    width: 90%;
}
#mainWrapper {
    background-image: url("../image/body-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 1685px;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 1103px;
}
#header {
    margin: -5px 0 0 114px;
    padding: 0;
    width: 870px;
}
#headerOne {
    float: left;
    margin: 0;
    padding: 180px 0 15px;
    width: 620px;
}
#headerTwo {
    border-left: 1px solid #737B7D;
    float: left;
    margin: 10px 0 0 10px;
    padding: 0 0 0 10px;
    width: 215px;
}
#centerColumnWide {
    margin: 0 0 0 114px;
    padding: 0;
    width: 870px;
}
#centerColumnWide h1, #header h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: -0.1em;
    margin: 0;
    padding: 0;
}
#centerColumnWide h2, #header h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
}
#centerColumnWide h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
#centerColumnWide p, #header p {
    line-height: 18px;
    margin: 0 0 10px;
}
#centerColumn a:link, #centerColumnWide a:link, #centerColumn a:visited, #centerColumnWide a:visited {
    text-decoration: underline;
}
#centerColumn a:hover, #centerColumnWide a:hover, #centerColumn a:active, #centerColumnWide a:active {
    text-decoration: none;
}
#centerColumn .nameDate, #centerColumnWide .nameDate, #centerColumn .feedback, #centerColumnWide .feedback, #centerColumn .pageLinks, #centerColumnWide .pageLinks {
    color: #454545;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: left;
}
#centerColumnWide ul {
    list-style-type: disc;
    margin: 0 0 0 20px;
    padding: 0;
}
#centerColumnWide ul li {
    list-style-type: disc;
    margin: 0 0 10px;
    padding: 0;
}
#centerColumnWide ul li ul {
    margin: 0;
    padding: 0;
}
#centerColumnWide ul li ul li {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}
.portfolioColumnOne {
    border-left: 1px solid #737B7D;
    float: left;
    margin: 0 5px 15px;
    padding: 0 5px;
    text-align: left;
    width: 265px;
}
.portfolioColumnTwo {
    border-top: 1px solid #737B7D;
    clear: both;
    float: left;
    margin: 10px 5px 20px;
    padding: 5px 5px 0;
}
#portfolioWrap h2, #articleWrap h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: left;
}
.thumb {
    float: left;
    margin: 0 4px 10px;
    padding: 0;
    width: 100%;
}
.thumbSkull {
    float: left;
    margin: 0 4px 10px;
    padding: 0;
    width: 154px;
}
.thumbSkull img {
    border: 1px solid #E0DED2;
    margin-top: 8px;
}
#portfolioWrap h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 0;
}
#portfolioWrap p {
    color: #454545;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 12px;
}
#portfolioWrap p.nothingSpecial {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
}
#footer {
    background-color: #252525;
    clear: both;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}
#footerBlock {
    margin: 0 auto;
    text-align: center;
    width: 900px;
}
.footClub {
    float: left;
    margin: 0 5px 45px;
    padding: 0;
    text-align: left;
    width: 290px;
}
.footClub img.fTitle {
    margin-bottom: 10px;
}
.footClub ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footClub ul li {
    background-image: url("../image/rss-icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 11px;
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0 0 0 14px;
}
#footerBlock p {
    color: #494847;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin: 0;
}
#footerBlock a:link, #footerBlock a:visited {
    color: #999999;
    text-decoration: none;
}
#footerBlock a:hover, #footerBlock a:active {
    background-color: transparent;
    color: #FCFBF3;
    text-decoration: none;
}
.wtf {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-weight: bold;
}
.clearfix {
    display: inline-table;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
