{% load url from future %}
{% if request.mobile %}
<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
{% else %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
{% endif %}
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{% block title %}Test title from base.html{% endblock %}</title>
<!-- link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" / -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}
<body class="{% block bodyclass %}{% endblock %}">
<!-- Container -->
    <div class="main">
        {% if not is_popup %}
        <div class="title">ERSms.Ru</div>
        <div class="tit" style="text-align:left">
            <!-- Language Bar -->
            {% include "index/lang.html" %}
            <!-- END Language Bar -->
        </div>
        <div class="box" style="text-align:left">
            <a href="/">{% trans 'Home' %}</a> 
            | <a href="/chat/">{% trans 'Chat' %}</a> 
            | <a href="/chat/">{% trans 'Games' %}</a>
        </div>
        {% endif %}
        {% if messages %}
        <div class="box" style="text-align:left">
            <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	        {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- Content -->
        {% block content %}
        { content }}
        {% endblock content %}
        <!-- Footer -->
        <div class="title">
            <small>&copy; <a href="http://ersms.ru">ERSms.Ru</a>, 2011</small>
        </div>
    </div>
    <!-- END Header -->
    <!-- END Content -->
</body>
</html>
