body { background-color: #ffffff; color: #000000; margin: 0px; padding: 0px; }

td { font-size: 12px; font-family: verdana, arial, sans-serif; vertical-align: top; }
td.small { font-size: 11px; }
td.middle { vertical-align: middle; }
td.bottom { vertical-align: bottom; }

a { color: #00416d; }
a.black { color: #000000; text-decoration: none; }
a.white { color: #ffffff; text-decoration: none; }
a.red { color: red; }
a.green { color: green; }

h1 { font-size: 18px; font-weight: bold; margin-top: 0px; margin-bottom: 0px; }
h2 { font-size: 14px; font-weight: bold; margin-top: 0px; margin-bottom: 14px; }

p.text { margin-top: 5px; margin-bottom: 5px; }
p.definition { margin-top: 5px; margin-bottom: 5px; }
p.definition b { font-weight: normal; }

p.pad { margin: 5px 0px 10px 35px; }
table.pad { margin-left: 35px; }

.tr { text-align: right; }
.tl { text-align: left; }

div.edit { border-top: 2px solid gray; border-bottom: 2px solid gray; padding: 10px; margin: 15px; text-align: center;}

textarea.edittextarea { width: 100%; height: 200px; border: 1px solid #7F9DB9; }

input {width: 100%; border: 1px solid rgb(127, 157, 185);}

